//navbar header (EKS: informasjon -> studenter)
.nav-header-info {
    border: #0096C0 1.5px solid !important;
    color: black !important;
    font-family: Arial, Helvetica, sans-serif !important;
    background: transparent !important;
    line-height: 1.8em !important;
}

//mellomrom mellom navbar og resten av siden
.spacing_header {
    margin-top: 1em;
    margin-bottom: 4em;
}
.btn-nice{
    margin:0;
    width: 100%;
    display: block;
    height: 100%;
}
.tittel_tekst{
    border-bottom: 2px solid #FFE01D;
    display: inline-block;
    padding-bottom: 10px;
}

.underline_link{
    border-bottom: 2px solid black;
    display: block;
    margin-bottom: 10px;
}

.underline_link:hover{
    border-bottom-color: #0096c0 !important;
}

.dashboard_meny:hover{
    color: #0096c0 !important;
}

.no-spaces{
    padding: 0 !important;
    margin: 0 !important;
}