.navbar {
    min-height: 8.5em;
}

.nav-link{
    color: black !important;
}

.nav-link:hover{
    color:#0096c0 !important;
}

.navbar-light{
    background-color: #F1F1F2 !important;
}

.jumbotron{
    background-color: #FFF !important;
}
.nav-item
{
    border-bottom:1px solidd #bbbdbf;
}

