//Egene klasser

//navbar header (EKS: informasjon -> studenter)
.nav-header-info {
    border: #0096C0 1.5px solid !important;
    color: black !important;
    font-family: Arial, Helvetica, sans-serif !important;
    background: transparent !important;
    line-height: 1.8em !important;
}

//mellomrom mellom navbar og resten av siden
.spacing_header {
    margin:0;
    padding: 0;
    min-height: 3.5em;
}
.btn-nice{
    margin:0;
    width: 100%;
    display: block;
    height: 100%;
}
.tittel_tekst{
    border-bottom: 2px solid #FFE01D;
    display: inline-block;
    padding-bottom: 10px;
}

.underline_link{
    border-bottom: 2px solid black;
    display: block;
    margin-bottom: 10px;
}

.underline_link:hover{
    border-bottom-color: #0096c0 !important;
}

.dashboard_meny:hover{
    color: #0096c0 !important;
}

.no-spaces{
    padding: 0 !important;
    margin: 0 !important;
}

.margin-fix{
    margin-right: 3.8px;
}

.farge{
    color: #0096c0 ;
}

.collaps-custom ul li a{
    border-bottom: 1px solid #D0D2D3;
    padding: 12px 34px 11px;
    font-size: 1em;
}

.collaps-custom ul li .border-extra{
    border-top: 1px solid #D0D2D3;
}

.shadow-bottom{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}