body{
    background-color: #F5F5F5;
}

.spacing_header {
    margin-top: 1em;
    margin-bottom: 5em;
}

.nav-adjust{
    min-height: 0 !important;
}

.btn-togg-overide{
    border-color: #0096C0;
    border-width: 1.5px;
    background: #FFFFFF !important;
    text-align: left;
}
