//Dvs endring av bootstrap og klasser som har noe å si for hele siden

html {
    overflow-y:scroll;
}

body{
    background-color: #F5F5F5;
}

//hoved nav
.navbar {
    min-height: 8.5em;
}

.nav-link{
    color: black !important;
}

.nav-link:hover{
    color:#0096c0 !important;
}

.navbar-light{
    background-color: #F1F1F2 !important;
}

.nav-item
{
    border-bottom:1px solidd #bbbdbf;   //trengs denne koden? -ivo
}

//endring av top navbar (eks informasjon -> student)
.nav-adjust{
    min-height: 0 !important;
}

// jumbotron klassen
.jumbotron{
    background-color: #FFF !important;
    padding-top: 2em !important;
}

.link-overwrite{
    display:inline !important;
}

.alert{
    margin-bottom: 0 !important;
}

.card-header{
    min-height: 3.5em !important;
    text-align: center;
}

.card-body{
    min-height: 13em !important;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card > a {
    padding: 0;
}